body{
	font-family: arial;
	margin: 0px;
}

header{
	text-align: center;	
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom : 4px outset #000;
}

header img{
	width: 150px;
	float: center;
	margin-top: 20px;	
}

h1{
	color : #000;
}


button
  {
  text-align:center;
	text-decoration:none;    
	background-color: black; 
  color: #FFF;
  transition: backgroung-color, 2s;
  }
  
 button:hover
  {
	border-radius:30px;
  background-color: #09F;
	color: #CCC;
  
  }

footer{
	text-align: center;	
	margin-bottom: 10px;
	background-color: #fff;
	position: absolute;
	bottom: 0;
	text-align: center;
	border-top : 4px outset #66FFFF;
}

footer img{
	width: 80px;
	float: center;
	margin-top: 20px;	
}

h5{
	float: left;
	margin-top: 75px;
}