body{
	font-family: arial;
	margin: 0px;
	color:#000;
}

header{
	text-align: center;	
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom : 4px outset #000;
}

header img{
	width: 150px;
	float: center;
	margin-top: 20px;	
}

h1{
	color : #000;
}

h5{
	float: center;
	margin-top: 75px;
	text-align: center;
}

button
{

}

button:hover
{
	border-radius:30px;
	background-color: #09F;
	color: #CCC;

}

button{
	text-align:center;
	text-decoration:none;    
	transition: backgroung-color, 1s;
	background-color: #000;
	color: #66FFFF;
	height: 40px;
	width: 200px;
	border-radius: 15px;
	border-style: solid;
	border-color:  #66FFFF;
	font-size: 16px;
}

button:hover{
	height: 40px;
	width: 200px;
	border-radius: 15px;
	border-style: solid;
	border-color:  #000;
	font-size: 16px;
	background-color: #09F;
	color: #CCC;
}

#menu{
	text-align: center;
}

footer{
	text-align: center;	
	margin-bottom: 10px;
	background-color: #fff;
	bottom: 0;
	border-top : 4px outset #66FFFF;
	position: absolute;
	width: 100%;

}

footer img{
	width: 80px;
	margin-top: 20px;
	float: right;
	margin-right: 100px;
}

#students {
	margin: 1em;
}

#students div{
	margin: 0.4em;
	padding: 0.4em;
}